In [1]:
l = ["my name is megha","my name is riya"]

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"name":l})

In [4]:
df

               name
0  my name is megha
1   my name is riya

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
cv = CountVectorizer()

In [10]:
new_data= cv.fit_transform(df["name"]).toarray()

In [11]:
new_data

array([[1, 1, 1, 1, 0],
       [1, 0, 1, 1, 1]], dtype=int64)

In [12]:
cv.vocabulary_

{'my': 2, 'name': 3, 'is': 0, 'megha': 1, 'riya': 4}